<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    			<ul>
					<li><a href="/">About</a></li>
	        			<li><a href="/contact">Contact</a></li>
				</ul>
	    		
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    			<ul>
					<li>email: <a href="mailto:kbannister.nz@gmail.com">kbannister.nz@gmail.com</a></li>
					<li>phone: 04 476 0522</li>
				</ul>
				
			</footer>
		</body>
	</html>
